bin/AndroidManifest.xml
bin/R.txt
bin/classes/net/ldmf/socketsdk/BuildConfig.class
bin/classes/net/ldmf/socketsdk/R$attr.class
bin/classes/net/ldmf/socketsdk/R$dimen.class
bin/classes/net/ldmf/socketsdk/R$drawable.class
bin/classes/net/ldmf/socketsdk/R$string.class
bin/classes/net/ldmf/socketsdk/R$style.class
bin/classes/net/ldmf/socketsdk/R.class
bin/classes/net/ldmf/socketsdk/SocketHolder$1.class
bin/classes/net/ldmf/socketsdk/SocketHolder.class
bin/classes/net/ldmf/socketsdk/SocketListener.class
bin/classes/net/ldmf/socketsdk/SocketStatus.class
bin/res/crunch/drawable-hdpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-xhdpi/ic_launcher.png
bin/res/crunch/drawable-xxhdpi/ic_launcher.png
bin/socketsdk.jar
gen/net/ldmf/socketsdk/BuildConfig.java
gen/net/ldmf/socketsdk/R.java
